.qContainer {
    background-image: linear-gradient(to bottom right, var(--lighter-gray-transparent),var(--blue-grey-slight));
}
.resultsStyles {
    background-color: white; 
    max-width: 960px;
    border: medium solid var(--bright-red);
}

form {
    margin: 0 0 100px 0;
}
